.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 15px;
}

.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.alert-relative {
    position: relative;
}

.alert-close {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}